CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y

CONFIG_PACKAGE_default-settings=y

CONFIG_LIBCURL_COOKIES=y	
CONFIG_LIBCURL_FILE=y	
CONFIG_LIBCURL_FTP=y	
CONFIG_LIBCURL_HTTP=y	
CONFIG_LIBCURL_NO_SMB="!"	
CONFIG_LIBCURL_OPENSSL=y	
CONFIG_LIBCURL_PROXY=y	

CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y	
CONFIG_LIBSODIUM_MINIMAL=y

#语言
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_zram-swap=y

CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq_full=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y

CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y

CONFIG_PACKAGE_luci-app-ntpc=y

CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks=y

CONFIG_PACKAGE_luci-app-udpxy=y

CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_zerotier=n

CONFIG_PACKAGE_luci-app-upnp=y

CONFIG_PACKAGE_htop=y
