CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y

CONFIG_PACKAGE_default-settings=y

CONFIG_PACKAGE_luci=y

CONFIG_PACKAGE_kmod-qca-nss-dp=y
#CONFIG_PACKAGE_kmod-qca-nss-drv=y
#CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
#CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-ssdk-nohnat=y
CONFIG_PACKAGE_qca-ssdk-shell=y

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y

CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y
CONFIG_LIBSODIUM_MINIMAL=y

#语言
#CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_zram-swap=y

# CONFIG_PACKAGE_ipv6helper=y

CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y

CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq_full=y
# CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y

CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y

CONFIG_PACKAGE_luci-app-ntpc=y

CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks=y

CONFIG_PACKAGE_luci-app-udpxy=y

CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y

CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_zerotier=n

CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-extra=y

CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
# CONFIG_PACKAGE_ddns-scripts_dnspod=y
# CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y

CONFIG_PACKAGE_luci-app-upnp=y
#CONFIG_PACKAGE_luci-app-autoreboot=y
#CONFIG_PACKAGE_luci-app-ramfree=y
#CONFIG_PACKAGE_luci-app-advanced=y
#CONFIG_PACKAGE_luci-app-turboacc=y

CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_PACKAGE_openssl-util=y

# CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
# CONFIG_OPENVPN_openssl_ENABLE_LZO=y
# CONFIG_PACKAGE_openvpn-easy-rsa=y
# CONFIG_PACKAGE_openvpn-openssl=y
# CONFIG_PACKAGE_luci-app-openvpn=y
# CONFIG_PACKAGE_luci-app-openvpn-server=y

# CONFIG_PACKAGE_luci-app-adguardhome=y

# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin is not set
# CONFIG_PACKAGE_luci-app-wifischedule is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set

# CONFIG_PACKAGE_luci-theme-argon is not set
# CONFIG_PACKAGE_luci-theme-infinityfreedom=y

#CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=y

#CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=y
#CONFIG_PACKAGE_kmod-ipt-offload=y
#CONFIG_PACKAGE_kmod-nf-flow=y

#CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y
#CONFIG_PACKAGE_kmod-fast-classifier=y
#CONFIG_PACKAGE_kmod-shortcut-fe=y


# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set

# CONFIG_PACKAGE_luci-app-mwan3=y
# CONFIG_PACKAGE_luci-app-syncdial=y
# CONFIG_PACKAGE_luci-app-netdata is not set
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_luci-app-easymesh is not set
# CONFIG_PACKAGE_luci-app-guest-wifi=y
# CONFIG_PACKAGE_luci-app-ipsec-vpnd is not set

# CONFIG_PACKAGE_luci-app-openclash=y
# CONFIG_PACKAGE_luci-app-qos is not set
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-dnsfilter=y
# CONFIG_PACKAGE_luci-app-dawn is not set
# CONFIG_PACKAGE_luci-app-eqos is not set
# CONFIG_PACKAGE_luci-app-sqm is not set
# CONFIG_PACKAGE_luci-app-unblockneteasemusic is not set
# CONFIG_PACKAGE_luci-theme-argon is not set
# CONFIG_PACKAGE_luci-app-argon-config is not set

# CONFIG_PACKAGE_luci-app-bypass=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Shadowsocks_Libev_Client=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_ShadowsocksR_Libev_Client=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Shadowsocks_Libev_Server=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_ShadowsocksR_Libev_Server=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Simple_obfs=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Simple_obfs_server is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_V2ray_plugin is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Trojan=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Trojan-Go=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_NaiveProxy is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Kcptun is not set
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Socks5_Proxy=y
# CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Socks_Server=y

# CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_igmpproxy=y

